.hero{
    display: flex;
    flex-direction: column;
    background-image: url("../image/background-image.png");
    background-size: cover;
    min-height: 100vh;
}

header{
    background-color: transparent;
}

.main{
    background-color: transparent;
    flex-grow: 1;
}

.footer{
    background-color: transparent;
}