
.footer {
    display: flex;
    justify-content: flex-end;
}

.footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer ul li {
    padding-right: 35px;
    padding-left: 25px;
    font-size: 20px;
    line-height: normal;
}

.footer ul li .icon img {
    height: 25px;
}