
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu ul {

    display: flex;
    flex-direction: row;

    list-style: none;

}

.menu li {
    padding-top: 87px;
    padding-right: 54px;

    font-size: 20px;

    color: #fff;
    line-height: normal;

}

.menu li .nav-link a {
    color: #fff;
    text-decoration: none;
}

.menu::before {

    position: absolute;

    content: "";
    background-image: url("../image/logo.png");
    width: 227px;
    height: 130px;
    background-size: 227px 130px;
    background-repeat: no-repeat;
    left: 35px;
    top: 20px;

}